.QLNhanVien
{
    display: flex;
}
.Left
{
    display:block;
    border: 1px solid black;
    width: 400px;
    height: 750px;
    margin-left: 90px;
    background-color: rgba(252, 252, 252, 0.733);
}
.Right
{
    display:block;
    border: 1px solid black;
    width: 800px;
    height: 750px;
    background-color: rgba(252, 252, 252, 0.733);
}

/*Table*/
#DanhSach 
{
    width: 95%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 20px;
}
#DanhSach th, #DanhSach td 
{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}  
.nhanvien-item 
{
    cursor: pointer;
    transition: background-color 0.3s;
}
.nhanvien:hover 
{
    background-color: #f5f5f5;
}
.nhanvien-checkbox 
{
    margin-right: 10px;
}
