.BodyGT
{
    padding-left: 93px;
    padding-right: 90px;
    padding-bottom: 40px;
}
.GioiThieu
{
    margin-top: 40px;
}
.imgGTMH
{
    width: 800px;
    margin-top: 50px;
    margin-left: 180px;   
    border: 1px solid silver;
}
.Minhhoa1 p
{
    margin-top: 7px;
    margin-left: 350px;
    margin-bottom: 50px;
}
.Minhhoa2 p
{
    margin-top: 7px;
    margin-left: 440px;
    margin-bottom: 50px;
}
.Minhhoa3 p
{
    margin-top: 7px;
    margin-left: 530px;
    margin-bottom: 50px;
}