.Minhhoa1 img
{
    width: auto;
    height: auto;
    margin-left: 200px;
    margin-top: 30px;
}
.Minhhoa1 p
{
    margin-left: 400px;
}
.Minhhoa2 img
{
    margin-left: 230px;
    margin-top: 30px;
    width: 750px;
    height: 350px;
}
.Minhhoa2 p
{
    margin-left: 380px;
}
.Minhhoa3 img
{
    width: auto;
    height: auto;
    margin-left: 200px;
    margin-top: 30px;
}
.Minhhoa3 p
{
    margin-left: 210px;
    margin-right: 175px;
    margin-bottom: 50px;
    text-align: center;
}
.Minhhoa4 img
{
    width: 750px;
    height: 350px;
    margin-left: 230px;
    margin-top: 30px;
}
.Minhhoa4 p
{
    margin-left: 210px;
    margin-right: 175px;
    margin-bottom: 50px;
    text-align: center;
}
.Minhhoa5 img
{
    width: auto;
    height: auto;
    margin-left: 200px;
    margin-top: 30px;
}
.Minhhoa5 p
{
    margin-left: 210px;
    margin-right: 175px;
    margin-bottom: 50px;
    text-align: center;
}
.Minhhoa6 p
{
    margin-left: 210px;
    margin-right: 175px;
    margin-bottom: 50px;
    text-align: center;
}
.Minhhoa7 img
{
    margin-left: 230px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 750px;
    height: 350px;
}
.Minhhoa8 img
{
    width: 750px;
    height: 350px;
    margin-left: 230px;
    margin-top: 30px;
}
.Minhhoa8 p
{
    margin-left: 220px;
    margin-right: 175px;
    margin-bottom: 50px;
    text-align: center;
}
.Minhhoa9 img
{
    width: auto;
    height: auto;
    margin-left: 230px;
    margin-top: 30px;
}
.Minhhoa9 p
{
    margin-left: 240px;
    margin-right: 150px;
    margin-bottom: 50px;
    text-align: center;
}
.Minhhoa10 img
{
    width: auto;
    height: auto;
    margin-left: 230px;
    margin-top: 30px;
}
.Minhhoa10 p
{
    margin-left: 130px;
    margin-bottom: 50px;
    text-align: center;
}
.Minhhoa11 img
{
    width: auto;
    height: auto;
    margin-left: 280px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.Minhhoa12 img
{
    width: auto;
    height: auto;
    margin-left: 230px;
    margin-top: 30px;
    margin-bottom: 50px;
}