.GioiThieu h1
{
    margin-bottom: 40px;
}
.GioiThieu h2
{
    margin-top: 50px;
    margin-bottom: 10px;
}
.GioiThieu h3
{
    margin-top: 30px;
    padding-top: 20px;
    background-color: white;
    color: black;
}
.GioiThieu p
{
    font-size: 17px;
}
